#app {
  #main {
    .main-content {
      .page-title {
        h3 {
          font-size: 20px;
        }
        button {
          font-size: 12px;
        }
      }
      table {
        tr {
          font-size: 14px;
        }
      }
    }
  }
}