// FONT
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
// *FONT

// GLOBAL
$color-1: #2D7CFD;
$color-2: #1874C3;
$bg-prim: #F8F8F8;
$btn-col-1: #FDAC41;
$btn-col-1-hov: #ffc16f;
// $f-prim: 'Assistant', sans-serif;
$f-brand: 'Satisfy', cursive;
$f-brand-2: 'Ubuntu', sans-serif;

// *GLOBAL


#app {
  #sidebar {
    .sidebar-wrapper {
      .sidebar-header {
        margin-bottom: -50px;
        .brand {
          h1 {
            color: #55beff;
            font-family: $f-brand;
            font-size: 50px;
          }
          h2 {
            color: #46b5fa;
            font-family: $f-brand-2;
            font-size: 30px;
            margin-top: -10px;
          }
        }
      }
    }
  }
  // #main {
  //   .main-content {
  //     .card-statistic {

  //     }
  //   }
  // }
}


#auth {
  background-image: none;
  background: #2193b0;
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
}

// MOBILE
@media (max-width: 992px) {
  @import 'mobile';  
}